@model EnterWell.Models.Category

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Category: @Model.Name</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Categories</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <ul>
                    @foreach (var item in Model.Items)
                    {
                        <li>
                            @Html.ActionLink(item.Title, "Details", new { id = item.ItemId })
                        </li>
                    }
                </ul>
            </th>
        </tr>

</table>
<hr />
<p class="btn btn-default">
    @Html.ActionLink("Back", "Index", "Store")
</p>


